.header {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 36px;
  background-color: var(--color-bg);
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.center {
  flex: 1;
}

.searchInput {
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation {
  display: flex;
  gap: 24px;
}

.navigationList {
  text-decoration: none;
}

.link {
  flex: 1;
  color: var(--color-text-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-accent);
  }
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

.profileContainer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  font-family: var(--font-family-base);
  background-color: transparent;
}

.headerLogin {
  justify-content: space-between;
}
