# Dependencies
node_modules/

# Build
dist/
build/
.vite/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Cache
.eslintcache
.stylelintcache
.prettiercache

*storybook.log
storybook-static
