.avatar {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: var(--font-size-body);
  background-color: var(--color-accent);
}

.sm {
  width: 48px;
  height: 48px;
}

.md {
  width: 100px;
  height: 100px;
  font-size: 34px;
}

.lg {
  width: 244px;
  height: 244px;
  font-size: 112px;
}
