.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: 100vh;
  padding: 124px 0 84px;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 460px;
}

.buttonErrorPage {
  width: 218px;
}
