// Primary button
$primary-bg: #abd27a;
$primary-text: #fff;
$primary-hover-bg: #deebc5;
$primary-active-bg: #508826;
$primary-disabled-bg: #e4e8df;
$primary-disabled-text: #a0a0a0;

// Outlined button
$outlined-bg: #fff;
$outlined-border: #abd27a;
$outlined-text: #253017;
$outlined-hover-border: #7a9f4d;
$outlined-hover-text: #7a9f4d;
$outlined-active-border: #5f7e3f;
$outlined-active-text: #5f7e3f;
$outlined-disabled-border: #ccc;
$outlined-disabled-text: #999;
