.header {
  background-color: var(--color-bg);
  padding: 36px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.center {
  flex: 1;
}

.search_input {
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation {
  display: flex;
  gap: 24px;
}

.navigation_list {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;
  flex: 1;

  &:hover {
    color: var(--color-accent);
  }
}

.button_container {
  display: flex;
  gap: 8px;
}

.icon_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.profile_container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
