.fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.legend {
  padding-bottom: 20px;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
