.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  max-width: 324px;
  border-radius: var(--radius-primary);
  padding: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  background-color: var(--color-surface);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profileBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  min-width: 0;
}

.userMeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  min-width: 0;
}

.favoriteWrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.favoriteButton {
  flex-shrink: 0;
  transition: transform 0.2s;

  &:hover {
    color: var(--color-accent-pressed);
    transform: scale(1.1);
  }

  &:focus-visible {
    outline: 1px solid var(--color-focus);
  }
}

.likesCount {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-caption);
}

.name {
  color: var(--color-text-primary);
  font-family: var(--font-family-other);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h3);
}

.location {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-caption);
  white-space: nowrap;
}

.skillsBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skillsSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skillsTitle {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h4);
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.detailsButton {
  margin-top: auto;
}
