.input {
  flex: 1 1 auto;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size-body);
  font-family: var(--font-family-base);
  line-height: var(--line-height-body);
  color: var(--color-text-primary);
  caret-color: var(--color-accent-pressed);

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
